<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Car</title>
</head>

<body>
    <h1>Welcome to Form to add New Car</h1>
    <form action="/cars" method="post">
        <label for="makemodel">Make Model</label>
        <input id="makemodel" name="makemodel" type="text">
        <label for="price">Price</label>
        <input id="price" name="price" type="text">
        <label for="miles">Miles</label>
        <input id="miles" name="miles" type="text">
        <button type="submit">Add New Car</button>
    </form>


</body>

</html>